# .coveragerc to control coverage.py
# Reference: https://coverage.readthedocs.io/en/coverage-5.1/config.html
[run]
branch = True
source = ccbake
omit =
    # omit anything in the pip venv lib file
    */Lib/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    # Show missing lines
    show_missing

    # Skip Empty Files
    skip_empty

ignore_errors = True

[html]
directory = coverage_html_report

# vim:filetype=dosini:
